@if(ms.carsAsObservable | async) {
    
<mat-accordion [formGroup]="form" class="w-[50em] max-w-full">
    <mat-expansion-panel [expanded]="step() === 0" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>Selezione marca</mat-panel-title>
            <mat-panel-description>{{form.get('marca')?.value}}</mat-panel-description>
            <mat-icon>garage</mat-icon>
        </mat-expansion-panel-header>

        <section class="flex justify-between flex-col">

            <mat-selection-list formControlName="marca" (selectionChange)="setStep(1)" [multiple]="false">
                @for(marca of brands; track marca) {<mat-list-option [value]="marca">{{marca}}</mat-list-option>}
            </mat-selection-list>

            <button mat-button [disabled]="!form.get('marca')?.value" (click)="setStep(1)">Prossimo</button>
        </section>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step() === 1" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>Selezione Modello</mat-panel-title>
            <mat-panel-description>{{selectedModel?.modello}}</mat-panel-description>
            <mat-icon>directions_car</mat-icon>
        </mat-expansion-panel-header>
        @if(form.get('marca')?.value) {
        <div class="flex gap-4 w-full">

            <div class="flex-1">
                <mat-form-field class="w-full">
                    <mat-label>Modello</mat-label>
                    <mat-select formControlName="modello" class="w-full">
                        @for(model of models; track model.modello) {
                        <mat-option [value]="model.modello">{{model.modello}}</mat-option> }
                    </mat-select>
                </mat-form-field>

            </div>

            <div class="flex-1 grid grid-cols-2">
                @if(selectedModel) {
                <strong>nome</strong>
                <p>{{selectedModel.modello}}</p>
                <strong>descrzione</strong>
                <p>{{selectedModel.descrizione}}</p>
                <strong>prezzo</strong>
                <p>{{selectedModel.prezzo_base.toLocaleString('it-IT')}} €</p>
                <strong class="text-green-700 tracking-wider">sconto</strong>
                <p class="font-semibold text-green-700 tracking-wider">{{selectedModel.sconto}} %</p>
                <strong>motore</strong>
                <p>{{selectedModel.motore.alimentazione}} - {{selectedModel.motore.tipo}}</p>
                } @else {
                <p>Seleziona un modello</p>
                }
            </div>
        </div>

        <button mat-button (click)="setStep(2)" [disabled]="!selectedModel">Prossimo</button>
        } @else {
        <p>Seleziona prima la marca</p>
        }
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step() === 2" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>Optionals</mat-panel-title>
            <mat-icon>extension</mat-icon>
        </mat-expansion-panel-header>
        @if(selectedModel) {

        <mat-selection-list formControlName="optionals" [multiple]="true">
            @for(o of selectedModel.optionals; track o.nome) {
            <mat-list-option [value]="o">
                <span matListItemTitle>{{o.nome}}</span>
                <span matListItemSecondary>{{o.prezzo}} €</span>
            </mat-list-option>
            }
        </mat-selection-list>

        } @else {
        <p>Seleziona prima il modello</p>
        }

        <button mat-button (click)="setStep(3)">Prossimo</button>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle [expanded]="step() === 3">
        <mat-expansion-panel-header>
            <mat-panel-title>Ultimi ritocchi</mat-panel-title>
            <mat-icon>brush</mat-icon>
        </mat-expansion-panel-header>
        @for (o of (optionalsArray | withOptions | includedInArray:form.get('optionals')?.value); track o.nome) {
        <mat-form-field class="w-full">
            <mat-label>{{o.nome}}</mat-label>
            <mat-select (selectionChange)="changeOptionalValue($event, o.nome)">
                @for(op of o.opzioni; track op) {
                <mat-option [value]="op">{{op}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        }
        <button mat-button (click)="setStep(4)">Prossimo</button>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step() === 4" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>Aggiungi usato</mat-panel-title>
            <mat-icon>recycling</mat-icon>
        </mat-expansion-panel-header>

        <mat-form-field class="w-full">
            <mat-label>Descrizione</mat-label>
            <textarea matInput [cols]="4" class="w-full" formControlName="usato"></textarea>
        </mat-form-field>

        <mat-form-field class="w-full">
            <mat-label>Url immagini</mat-label>
            <mat-chip-grid #chipGrid aria-label="Aggiungi link" formControlName="immagini">
                @for (imgUrl of urls(); track imgUrl) {
                <mat-chip-row (removed)="removeUrl(imgUrl)">
                    {{imgUrl}}
                    <button matChipRemove aria-label="'remove ' + keyword">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip-row>
                }
            </mat-chip-grid>
            <input placeholder="Nuova immagine..." [matChipInputFor]="chipGrid"
                (matChipInputTokenEnd)="addUrl($event)" />
        </mat-form-field>

        <button mat-button (click)="setStep(5)">Prossimo</button>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step() === 5" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>Ritiro</mat-panel-title>
            <mat-icon>apartment</mat-icon>
        </mat-expansion-panel-header>

        <mat-form-field class="w-full">
            <mat-label>Sede di ritiro</mat-label>
            <mat-select formControlName="luogo_ritiro">
                @for(sede of (sedi | async); track sede.id) {<mat-option [value]="sede">{{sede.nome}}</mat-option>}
            </mat-select>
        </mat-form-field>

    </mat-expansion-panel>
</mat-accordion>

<div>
    <div class="flex gap-4 w-full mb-8">
        <div class="flex-1">
            <strong>Prezzo base</strong>
            <p>{{selectedModel?.prezzo_base?.toLocaleString('it-IT') ?? '-'}} €</p>
            <strong>Optionals</strong>
            <p>{{form.get('optionals')?.value | sumOptionals}} €</p>
            <strong>Totale</strong>
            <p>{{((form.get('optionals')?.value | sumOptionals) + (selectedModel?.prezzo_base ??
                0)).toLocaleString('it-IT')}} €</p>
        </div>
    </div>

    <div class="flex justify-center">
        <button mat-fab extended (click)="send()" [disabled]="this.form.invalid"><mat-icon>send</mat-icon>Invia preventivo</button>
    </div>
    @if (this.form.invalid) {
        <p>Devi ancora completare il form</p>
    }
</div>

} @else {
    <div class="w-full h-full flex justify-center items-center content-center">
        <mat-spinner diameter="30px"></mat-spinner>
    </div>
}