<h1 matDialogTitle class="text-gray-700 font-semibold text-lg">{{action}}</h1>
<div [formGroup]="form" class="flex flex-col gap-2 p-4">
    <mat-form-field>
        <mat-label>username</mat-label>
        <input type="text" matInput formControlName="username"/>
        @if(form.get('username')?.hasError('required')) {<mat-error>è richiesto uno username</mat-error>}
    </mat-form-field>
    <mat-form-field>
        <mat-label>password</mat-label>
        <input type="password" matInput formControlName="password"/>
        @if(form.get('password')?.hasError('required')) {<mat-error>è richiesta una password</mat-error>}
        @if(form.hasError('wroncCredentails')) {<mat-error>Username or password are incorrect</mat-error>}
    </mat-form-field>
</div>
<div matDialogActions>
    <div class="w-full h-fit flex justify-end">
        <button mat-button (click)="onSubmit()" class="bg-purple-500 hover:bg-white hover:text-purple-500">Invia</button>
    </div>
</div>