:host {
  @apply flex flex-col h-full w-full;
}

#logo {
  background-image: url('/copertina.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 56%;
}