<div class="flex justify-between">

    <h1 class="font-semibold text-xl">Sedi</h1>
    <button mat-button (click)="aggiungi()">Aggiungi sede</button>
</div>
<mat-table [dataSource]="ss.sedi">
    <ng-container matColumnDef="nome">
        <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
        <mat-cell *matCellDef="let sede"> {{sede.nome}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="indirizzo">
        <mat-header-cell *matHeaderCellDef> Indirizzo </mat-header-cell>
        <mat-cell *matCellDef="let sede"> {{sede.indirizzo}} </mat-cell>
    </ng-container>

    <ng-container [matColumnDef]="'action'">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row">

            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="elimina(row)"><mat-icon>delete</mat-icon> Elimina</button>
            </mat-menu>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>