<div class="w-full flex justify-between items-center p-2">
    <span class="flex gap-2 flex-row text-purple-700"><mat-icon>list_alt</mat-icon><h1>Dashboard preventivi</h1></span>
</div>

    <mat-accordion>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>Filtri</mat-panel-title>
            <mat-icon>filter_alt</mat-icon>
        </mat-expansion-panel-header>
        <form [formGroup]="filter" class="flex gap-4">

            
            <mat-slide-toggle formControlName="usatoDaValutare">usato da valutare</mat-slide-toggle>

            <mat-slide-toggle formControlName="soloScaduti">solo preventivi scaduti</mat-slide-toggle>
            
            <mat-form-field>
                <mat-label>cliente</mat-label>
                <input type="string" matInput formControlName="cliente" [matAutocomplete]="autoCliente">
                <mat-autocomplete #autoCliente="matAutocomplete">
                    @for(c of (distinctClienti | async); track c) {
                        <mat-option [value]="c">{{c ?? '-'}}</mat-option>
                    }
                </mat-autocomplete>
            </mat-form-field>
            
            <mat-form-field>
                <mat-label>marca</mat-label>
                <input type="string" matInput formControlName="marca" [matAutocomplete]="autoMarche">
                <mat-autocomplete #autoMarche="matAutocomplete">
                    @for(c of (distinctMarche | async); track c) {
                        <mat-option [value]="c">{{c}}</mat-option>
                    }
                </mat-autocomplete>
            </mat-form-field>
            
            <mat-form-field>
                <mat-label>sede</mat-label>
                <input type="string" matInput formControlName="sede" [matAutocomplete]="autoSedi">
                <mat-autocomplete #autoSedi="matAutocomplete">
                    @for(c of (distinctSedi | async); track c) {
                        <mat-option [value]="c">{{c}}</mat-option>
                    }
                </mat-autocomplete>
            </mat-form-field>

        </form>
        
        
    </mat-expansion-panel>
</mat-accordion>


@if((dataSource | async); as data) {

    <mat-table [dataSource]="data" class="mat-elevation-z8">
        
        @for(c of displayColumns; track c) {
            <ng-container [matColumnDef]="c">
                <mat-header-cell *matHeaderCellDef>{{c}}</mat-header-cell>
                <mat-cell *matCellDef="let row">{{ row[c] }}</mat-cell>
            </ng-container>
        }

        <ng-container [matColumnDef]="'action'">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">

                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <!--tutti-->
                    <button mat-menu-item (click)="esporta(row)"><mat-icon>download</mat-icon>Scarica .pdf</button>
                    <button mat-menu-item (click)="elimina(row)"><mat-icon>delete</mat-icon> Elimina</button>
                    
                    <!--solo utente-->
                    @if(!(user | async)?.role) {
                        <button mat-menu-item (click)="acconto(row)"><mat-icon>attach_money</mat-icon>Paga acconto</button>
                    }

                    <!--solo impiegato-->
                    @if((user | async)?.role === 'impiegato') {
                        <button mat-menu-item (click)="valutaUsato(row)" [disabled]="!row.usato.descrizione && !(row.usato && row.usato.immagini.length > 0)"><mat-icon>recycling</mat-icon>Valutazione usato </button>
                    }
                </mat-menu>
            </mat-cell>
        </ng-container>

        <ng-container [matColumnDef]="'usato'">
            <mat-header-cell *matHeaderCellDef>usato</mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row.usato ? row.usato.descrizione : 'no' }}</mat-cell>
        </ng-container>

        <ng-container [matColumnDef]="'luogo_ritiro'">
            <mat-header-cell *matHeaderCellDef>ritiro</mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row.luogo_ritiro?.nome }}</mat-cell>
        </ng-container>

        <ng-container [matColumnDef]="'valutazione'">
            <mat-header-cell *matHeaderCellDef>valutazione</mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row.usato ? (row.usato.valutazione ?? '-'): 'non richiesta' }}</mat-cell>
        </ng-container>
        
        <mat-header-row *matHeaderRowDef="columns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columns;"></mat-row>
    </mat-table>

}