<nav class="w-full p-4 h-fit flex items-center gap-4 bg-purple-800 text-white">
    <!-- <img src="logo.png" alt="Cauto logo"> -->
    
    <a routerLink="/" routerLinkActive="active">Cauto</a>
    <a routerLink="preventivo" class="hover:cursor-pointer hover:underline" >Nuovo preventivo</a>
    @if(user | async; as user) {
        @if(!user.role || user.role === 'impiegato') {
            <a routerLink="dashboard" class="hover:cursor-pointer hover:underline" >Dashboard</a> 
        }
        
        @if (user.role === 'segreteria') {
            <a routerLink="sedi" class="hover:cursor-pointer hover:underline" >Sedi</a> 
            <a routerLink="gestionale" class="hover:cursor-pointer hover:underline">Gestionale</a>
        }


        <span class="flex-grow"></span>
        <div class="flex gap-4 items-center">
            <button (click)="logout()" mat-flat-button class="p-2 rounded-md cursor-pointer hover:underline">logout</button>
            <b>{{(auth.user | async)?.username}}</b>
        </div>
    } @else {
        <span class="flex-grow"></span>
        <button (click)="signup()" class="p-2 rounded-md cursor-pointer hover:underline">registrati</button>
        <button (click)="login()" class="bg-white text-purple-800 p-2 rounded-md">login</button>
    } 
</nav>