<nav class="w-full p-4 h-fit flex items-center gap-4 bg-purple-800 text-white">
    <!-- <img src="logo.png" alt="Cauto logo"> -->
    
    <a routerLink="/" routerLinkActive="active">Home</a> 

    @if((auth.loggedIn$ | async)) {
        <a class="hover:cursor-pointer hover:underline" routerLink="prospect" >Prospects</a> 
        <a class="hover:cursor-pointer hover:underline" routerLink="evaluations" >Evaluations</a> 
        <a class="hover:cursor-pointer hover:underline" routerLink="branches" >Branches</a> 
        <span class="flex-grow"></span>
        <div>
            <button (click)="logout()" class="p-2 rounded-md cursor-pointer hover:underline">logout</button>
            <span>{{(auth.user | async)?.username}}</span>
        </div>
    } @else {
        <span class="flex-grow"></span>
        <button (click)="signup()" class="p-2 rounded-md cursor-pointer hover:underline">registrati</button>
        <button (click)="login()" class="bg-white text-purple-800 p-2 rounded-md">login</button>
    } 
</nav>